input {
    display: inline;
    width: 40px;
}

.Product {
    width: 150px;
    border: 1px dotted dodgerblue;
    border-radius: 10px;
    padding: 10px;
    margin: 20px;
    display: inline-block;
    font-size: 12px;
}